<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Allegiance.CommunitySecuritySystem.PrototypeClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
    </settings>
  </system.net>

  <applicationSettings>
    <Allegiance.CommunitySecuritySystem.PrototypeClient.Properties.Settings>
      <setting name="PrototypeClient_localhost_ClientService" serializeAs="String">
        <value>https://localhost/CSSServer/ClientService.svc</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.PrototypeClient.Properties.Settings>
  </applicationSettings>
</configuration>