<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Allegiance.CommunitySecuritySystem.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup/>
	<appSettings>
		<!-- 
			Not using a setting for this, so that there won't be a default 
			and thus won't collide when this is released to the end user 
			where no config is included. Comment out the override to use the
			allegiance.exe in the desired lobby.
			-->
		
		<add key="AllegianceExeOverride" value="C:\Program Files (x86)\Microsoft Games\Allegiance 1.2\Production\Allegiance.exe"/>
		<!--<add key="AllegianceExeOverride" value="C:\Source\Allegiance\Allegiance\branch\main\objs10\FZDebug\WinTrek\Allegiance.exe"/>-->
		<!--<add key="ClientServiceOverride" value="https://allegiance.chi-town.com/CSSServer/ClientService.svc"/>--> 
		<add key="ClientServiceOverride" value="https://localhost/CSSServer/ClientService.svc"/>
	</appSettings>
 <applicationSettings>
  <Allegiance.CommunitySecuritySystem.Client.Properties.Settings>
   <setting name="ManagementWebRoot" serializeAs="String">
    <value>http://localhost/CSS</value>
   </setting>
   <setting name="Launcher_ClientService_ClientService" serializeAs="String">
    <value>https://localhost/CSSServer/ClientService.svc</value>
   </setting>
  </Allegiance.CommunitySecuritySystem.Client.Properties.Settings>
 </applicationSettings>
</configuration>
