/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.IPConverge
	(
	ApiCode varchar(32) NOT NULL,
	ProductId int NOT NULL,
	Added datetime NOT NULL,
	IpAddress varchar(16) NOT NULL,
	Url varchar(255) NOT NULL,
	Active bit NOT NULL,
	HttpUser varchar(255) NOT NULL,
	HttpPassword varchar(255) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.IPConverge ADD CONSTRAINT
	PK_IPConverge PRIMARY KEY CLUSTERED 
	(
	ApiCode
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IX_IPConverge ON dbo.IPConverge
	(
	Active
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.IPConverge SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
