
USE CSSStats
GO 

PRINT 'Creating tables a, b, c, d, p, and q to store NormalDistribution constants...'
IF OBJECT_ID('dbo.AS_A', 'U') IS NOT NULL DROP TABLE AS_A;
CREATE TABLE [dbo].[AS_A] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

IF OBJECT_ID('dbo.AS_B', 'U') IS NOT NULL DROP TABLE AS_B;
CREATE TABLE [dbo].[AS_B] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

IF OBJECT_ID('dbo.AS_C', 'U') IS NOT NULL DROP TABLE AS_C;
CREATE TABLE [dbo].[AS_C] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

IF OBJECT_ID('dbo.AS_D', 'U') IS NOT NULL DROP TABLE AS_D;
CREATE TABLE [dbo].[AS_D] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

IF OBJECT_ID('dbo.AS_P', 'U') IS NOT NULL DROP TABLE AS_P;
CREATE TABLE [dbo].[AS_P] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

IF OBJECT_ID('dbo.AS_Q', 'U') IS NOT NULL DROP TABLE AS_Q;
CREATE TABLE [dbo].[AS_Q] (
	EntryID INT IDENTITY,
	EntryIndex FLOAT UNIQUE NOT NULL,
	Value FLOAT NOT NULL);

Print 'Done.'
Print 'Filling tables with constant values...'

INSERT INTO [dbo].[AS_A] (EntryIndex, Value) VALUES (0, 2.2352520354606839287e00);
INSERT INTO [dbo].[AS_A] (EntryIndex, Value) VALUES (1, 1.6102823106855587881e02);
INSERT INTO [dbo].[AS_A] (EntryIndex, Value) VALUES (2, 1.0676894854603709582e03);

INSERT INTO [dbo].[AS_B] (EntryIndex, Value) VALUES (0, 4.7202581904688241870e01);
INSERT INTO [dbo].[AS_B] (EntryIndex, Value) VALUES (1, 9.7609855173777669322e02);
INSERT INTO [dbo].[AS_B] (EntryIndex, Value) VALUES (2, 1.0260932208618978205e04);

INSERT INTO [dbo].[AS_C] (EntryIndex, Value) VALUES (0, 3.9894151208813466764e-1);
INSERT INTO [dbo].[AS_C] (EntryIndex, Value) VALUES (1, 8.8831497943883759412e00);
INSERT INTO [dbo].[AS_C] (EntryIndex, Value) VALUES (2, 9.3506656132177855979e01);

INSERT INTO [dbo].[AS_D] (EntryIndex, Value) VALUES (0, 2.2266688044328115691e01);
INSERT INTO [dbo].[AS_D] (EntryIndex, Value) VALUES (1, 2.3538790178262499861e02);
INSERT INTO [dbo].[AS_D] (EntryIndex, Value) VALUES (2, 1.5193775994075548050e03);

INSERT INTO [dbo].[AS_P] (EntryIndex, Value) VALUES (0, 2.1589853405795699e-1);
INSERT INTO [dbo].[AS_P] (EntryIndex, Value) VALUES (1, 1.274011611602473639e-1);
INSERT INTO [dbo].[AS_P] (EntryIndex, Value) VALUES (2, 2.2235277870649807e-2);

INSERT INTO [dbo].[AS_Q] (EntryIndex, Value) VALUES (0, 1.28426009614491121e00);
INSERT INTO [dbo].[AS_Q] (EntryIndex, Value) VALUES (1, 4.68238212480865118e-1);
INSERT INTO [dbo].[AS_Q] (EntryIndex, Value) VALUES (2, 6.59881378689285515e-2);

Print 'Done.'
Print 'Creating AllegSkill tables...'
IF OBJECT_ID('dbo.AS_GameStats', 'U') IS NOT NULL DROP TABLE AS_GameStats;
CREATE TABLE [dbo].[AS_GameStats] (
	GameStatsID INT IDENTITY,
	GameID INT REFERENCES [dbo].[Game](GameIdentID) ON DELETE CASCADE ON UPDATE CASCADE,
	MatchQuality FLOAT NOT NULL DEFAULT 0.0,
	Team1ConservativeRank FLOAT NOT NULL DEFAULT 0.0,
	Team2ConservativeRank FLOAT NOT NULL DEFAULT 0.0,
	Team3ConservativeRank FLOAT DEFAULT NULL,
	Team4ConservativeRank FLOAT DEFAULT NULL,
	Team5ConservativeRank FLOAT DEFAULT NULL,
	Team6ConservativeRank FLOAT DEFAULT NULL
);

IF OBJECT_ID('dbo.AS_AllegSkill', 'U') IS NOT NULL DROP TABLE dbo.AS_AllegSkill;
CREATE TABLE [dbo].[AS_AllegSkill] (
	AllegSkillID INT IDENTITY,
	Member_ID INT, -- NOT NULL REFERENCES [dbo].[StatsLeaderboard] (StatsLeaderboardId) ON DELETE CASCADE ON UPDATE CASCADE,
	Mu FLOAT NOT NULL DEFAULT 25.0,
	Sigma FLOAT NOT NULL DEFAULT 8.3333333333333333333333333333333333333,
	CommandMu FLOAT NOT NULL DEFAULT 25.0,
	CommandSigma FLOAT NOT NULL DEFAULT 8.3333333333333333333333333333333333333,
	StackRating FLOAT NOT NULL DEFAULT 0.0,
	Wins INT NOT NULL DEFAULT 0,
	Losses INT NOT NULL DEFAULT 0,
	Draws INT NOT NULL DEFAULT 0,
	CommandWins INT NOT NULL DEFAULT 0,
	CommandLosses INT NOT NULL DEFAULT 0,
	CommandDraws INT NOT NULL DEFAULT 0,
	Defections INT NOT NULL DEFAULT 0,
	Kills INT NOT NULL DEFAULT 0,
	Ejects INT NOT NULL DEFAULT 0,
	DroneKills INT NOT NULL DEFAULT 0,
	StationKills INT NOT NULL DEFAULT 0,
	StationCaptures INT NOT NULL DEFAULT 0,
	SecondsInGame INT NOT NULL DEFAULT 0
);

IF OBJECT_ID('dbo.AS_GamePlayerAS', 'U') IS NOT NULL DROP TABLE dbo.[AS_GamePlayerAS];
CREATE TABLE [dbo].[AS_GamePlayerAS] (
	GamePlayerASID INT IDENTITY,
	GameID INT REFERENCES [dbo].[Game] (GameIdentID) ON DELETE CASCADE ON UPDATE CASCADE,
	Member_ID INT, -- REFERENCES [dbo].[StatsLeaderboard] (StatsLeaderboardId) ON DELETE CASCADE ON UPDATE CASCADE,
	NewMu FLOAT NOT NULL DEFAULT 0.0,
	NewSigma FLOAT NOT NULL DEFAULT 0.0,
	NewCommandMu FLOAT NOT NULL DEFAULT 0.0,
	NewCommandSigma FLOAT NOT NULL DEFAULT 0.0,
	StackRatingChange FLOAT NOT NULL DEFAULT 0.0,
	Defected INT NOT NULL DEFAULT 0,
	KillCount INT NOT NULL DEFAULT 0,
	EjectCount INT NOT NULL DEFAULT 0,
	DroneKillCount INT NOT NULL DEFAULT 0,
	StationKillCount INT NOT NULL DEFAULT 0,
	StationCaptureCount INT NOT NULL DEFAULT 0
);

GO


Print 'Done'
