USE CSSStats
GO

/*
   Friday, April 02, 20109:45:19 AM
   User: 
   Server: localhost
   Database: CSS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TeamMember
	DROP CONSTRAINT FK_TeamMember_Team
GO
ALTER TABLE dbo.Team SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.TeamMember', N'GameTeamMember', 'OBJECT' 
GO
ALTER TABLE dbo.GameTeamMember
	DROP CONSTRAINT PK_TeamMember
GO
ALTER TABLE dbo.GameTeamMember ADD CONSTRAINT
	PK_GameTeamMember PRIMARY KEY CLUSTERED 
	(
	GameTeamMemeberID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.GameTeamMember ADD CONSTRAINT
	FK_GameTeamMember_Team FOREIGN KEY
	(
	GameTeamID
	) REFERENCES dbo.Team
	(
	TeamId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.GameTeamMember SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
