/*
   Wednesday, March 24, 20103:21:17 PM
   User: 
   Server: localhost
   Database: CSS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Motd
	(
	Logo varchar(50) NOT NULL,
	Banner varchar(50) NOT NULL,
	PrimaryHeading varchar(255) NOT NULL,
	PrimaryText text NOT NULL,
	SecondaryHeading varchar(255) NOT NULL,
	SecondaryText text NOT NULL,
	Details text NOT NULL,
	PaddingCrCount int NOT NULL,
	LastUpdated datetime NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Motd ADD CONSTRAINT
	DF_Motd_LastUpdated DEFAULT GetDate() FOR LastUpdated
GO
ALTER TABLE dbo.Motd SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
