<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Allegiance.CommunitySecuritySystem.TagTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString" connectionString="Server=localhost;Database=CSS;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSStatsConnectionString" connectionString="Data Source=localhost;Initial Catalog=CSSStats;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" providerName="System.Data.SqlClient"/>
		<!--<add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString" connectionString="Server=web12;Database=CSS;User ID=webaccess;Password=XXXXXX;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsBinding" maxReceivedMessageSize="2147483647">
					<security mode="Transport"/>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<!--
        <client>
			
            <endpoint address="http://allegiance.chi-town.com/CSSServer/Tag.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITag" contract="CssServer.Tag.ITag" name="WSHttpBinding_ITag"/>
        </client>
						-->
	</system.serviceModel>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<applicationSettings>
		<Allegiance.CommunitySecuritySystem.TagTestClient.Properties.Settings>
   <setting name="Allegiance_CommunitySecuritySystem_TagTestClient_CssServer_Tag_Tag"
    serializeAs="String">
    <value>http://localhost/CSSServer/Tag.svc</value>
   </setting>
  </Allegiance.CommunitySecuritySystem.TagTestClient.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<!--
    <add key="gameTestDataDirectory" value="..\..\..\..\Tests\Allegiance.CommunitySecuritySystem.ServerTest\TestData"/>
    <add key="gameTestDataFileFilter" value="*game *.xml"/>
    -->
    <add key="gameTestDataDirectory" value="c:\1\GameData"/>
		<add key="gameTestDataFileFilter" value="*.xml"/>
	</appSettings>
</configuration>
<!-- http://localhost/CSSServer/Tag.svc -->
