<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString"
        connectionString="Server=localhost;Database=CSS_Test;Trusted_Connection=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="appSettings.config">
    <add key="TestRoot" value="{LocalTestProjectPath}"/>
    <add key="OutputRoot" value="{BlackboxBinaryOutputPath}"/>
    <add key="SourceRoot" value="{BlackboxResourcesPath}"/>
    <add key="autoupdateBaseAddress" value="http://{URLForAutoupdate}/AutoUpdate/"/>
  </appSettings>
</configuration>