<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Allegiance.CommunitySecuritySystem.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Allegiance.CommunitySecuritySystem.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		
	</configSections>
	
	<appSettings file="appSettings.config">
		
		<!-- Point to full URL for the CSS Service root. The url should end with a trailing / -->
		<add key="serviceBaseAddress" value="https://localhost/CSSServer/" />

		<!-- Point to full URL for the AutoUpdate Service root. The url should end with a trailing / -->
		<add key="autoupdateBaseAddress" value="http://localhost/CSSServer/AutoUpdate/" />
		
		<!-- 
			Point to output directory for the taskhander. 
			This should be the same directory that the TaskHandler.exe.config points to.
			Ex: C:\CSS\TaskHandler\Output
			-->
		<add key="OutputRoot" value="C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Output" />

		<!-- 
			Point to output directory for the taskhander. 
			This should be the same directory that the TaskHandler.exe.config points to.
			Ex: C:\CSS\TaskHandler\Resources
			-->
		<add key="SourceRoot" value="C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Resources" />
		
		<!-- Time for the user to complete login to the lobby in seconds. Default: 10 seconds.-->
		<add key="InitialCheckinTimeout" value="10" />

		<!-- Time for the launcher to check in with the CSS service. Default: 180 seconds.-->
		<add key="StandardCheckinTimeout" value="180" />

		<!-- 
			When this is set to true, then a fixed hash is used instead of one generted from the launcher. 
			This lets the debugger run attached to the launcher. 
			To work properly, the database can only contain debug versions of blackbox. 
			remove all prior black boxes from the database, and then rerun taskhandler -generateblackbox 
			with the debug turned on in the TaskHandler config file to generate debug blackboxes.
			
			Default: false
			-->
		<add key="UseDebugBlackbox" value="false"/>
	</appSettings>

	<connectionStrings>
		<add 
			name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString" 
			connectionString="Data Source=localhost;Initial Catalog=CSS;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" 
			providerName="System.Data.SqlClient" />

		<add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSStatsConnectionString" 
				 connectionString="Data Source=localhost;Initial Catalog=CSSStats;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" 
				 providerName="System.Data.SqlClient" />
		
	</connectionStrings>

	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />

			<add verb="*" path="*.php" validate="false" type="Allegiance.CommunitySecuritySystem.Server.IPConvergeHandler, Allegiance.CommunitySecuritySystem.Server" />

			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />

			<add name="IPConverge" verb="*" path="*.php" type="Allegiance.CommunitySecuritySystem.Server.IPConvergeHandler, Allegiance.CommunitySecuritySystem.Server" />

			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
	</system.webServer>

	<system.serviceModel>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

		<services>
			<service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.AdministrationBehavior" name="Allegiance.CommunitySecuritySystem.Server.Administration">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.IAdministration" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.ClientServiceBehavior" name="Allegiance.CommunitySecuritySystem.Server.ClientService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.IClientService" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.TagBehavior"
        name="Allegiance.CommunitySecuritySystem.Server.Tag">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="tagBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.ITag" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Allegiance.CommunitySecuritySystem.Server.AdministrationBehavior">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="Allegiance.CommunitySecuritySystem.Server.ClientServiceBehavior">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="Allegiance.CommunitySecuritySystem.Server.TagBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="wsBinding">
					<security mode="Transport" />
				</binding>

				<binding name="tagBinding" maxReceivedMessageSize="2147483647">
					<security mode="None" />
					<readerQuotas maxStringContentLength="2147483647" />
				</binding>
				
			</basicHttpBinding>
			
			
		</bindings>

	</system.serviceModel>

	<applicationSettings>

		<Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>
			<setting name="UseIPConverge" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AsgsServiceURL" serializeAs="String">
				<value>http://asgs.alleg.net/ASGS/Services.asmx</value>
			</setting>
			<setting name="UseAsgsForLegacyCallsignCheck" serializeAs="String">
				<value>True</value>
			</setting>
		</Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>

		<Allegiance.CommunitySecuritySystem.Server.Properties.Settings>
			<setting name="TagLastGameDataXmlFileLogLocation" serializeAs="String">
				<value />
			</setting>
			<setting name="TagExceptionLogFileName" serializeAs="String">
				<value />
			</setting>
			<setting name="IPConvergeAdminEmail" serializeAs="String">
				<value>nick@chi-town.com</value>
			</setting>
			<setting name="IPConvergeAdminPasswordMD5" serializeAs="String">
				<value>[SET TO PROPER MD5 HASHED PASSWORD]</value>
			</setting>
		</Allegiance.CommunitySecuritySystem.Server.Properties.Settings>

		<Allegiance.CommunitySecuritySystem.Common.Settings>
			<setting name="UseSSLMailTransport" serializeAs="String">
				<value>True</value>
			</setting>
		</Allegiance.CommunitySecuritySystem.Common.Settings>

	</applicationSettings>
</configuration>
