.AspNet-ChangePassword
{
		border: 1px solid black;
		text-align: center;
		width: 500px;
}

.AspNet-ChangePassword-ChangePasswordTitlePanel
{
	background-color: #F7F6F3;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: center;
}

.AspNet-ChangePassword-PasswordPanel
{
	text-align: right;
	padding-right: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.AspNet-ChangePassword-NewPasswordPanel
{
	text-align: right;
	padding-right: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.AspNet-ChangePassword-ConfirmNewPasswordPanel
{
	text-align: right;
	padding-right: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.AspNet-ChangePassword-SubmitPanel
{
	padding-bottom: 10px;
}
