.AspNet-PasswordRecovery
{
	border: 1px solid black;
	text-align: center;
}

.AspNet-PasswordRecovery div
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.AspNet-PasswordRecovery-UserName-TitlePanel
{
	background-color: #F7F6F3;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: center;
}

.AspNet-PasswordRecovery-UserName-InstructionPanel1
{
	padding-top: 10px;
}

.AspNet-PasswordRecovery-UserName-UserPanel1
{
	padding-top: 10px;
}