<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Allegiance.CommunitySecuritySystem.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Allegiance.CommunitySecuritySystem.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="cssServer" type="Allegiance.CommunitySecuritySystem.Server.CssServerConfiguration, Allegiance.CommunitySecuritySystem.Server"/>
  </configSections>
  <!-- Users that are allowed to hit Stats.svc and StatsRest.svc. -->
  <cssServer>
    <userTokens>
      <userToken name="unitTest" value="1F7124F9-01A3-4236-B444-A623AB8AD2B6"/>
    </userTokens>
  </cssServer>
  <appSettings file="appSettings.config">
    <add key="serviceBaseAddress" value="https://localhost/CSSServer/"/>
    <add key="autoupdateBaseAddress" value="http://localhost/CSSServer/AutoUpdate/"/>
    <add key="OutputRoot" value="C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Output"/>
    <add key="SourceRoot" value="C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Resources"/>
    <add key="InitialCheckinTimeout" value="10"/>
    <add key="StandardCheckinTimeout" value="180"/>
    <!-- 
      When this is set to true, then a fixed hash is used instead of one generted from the launcher. 
      This lets the debugger run attached to the launcher. 
      To work properly, the database can only contain debug versions of blackbox. 
      remove all prior black boxes from the database, and then rerun taskhandler -generateblackbox 
      with the debug turned on in the TaskHandler config file to generate debug blackboxes.
      -->
    <add key="UseDebugBlackbox" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString" connectionString="Data Source=localhost;Initial Catalog=CSS;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" providerName="System.Data.SqlClient"/>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSStatsConnectionString" connectionString="Data Source=localhost;Initial Catalog=CSSStats;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" />-->
    <!--<identity impersonate="true" />-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="*" path="*.php" validate="false" type="Allegiance.CommunitySecuritySystem.Server.IPConvergeHandler, Allegiance.CommunitySecuritySystem.Server"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="IPConverge" verb="*" path="*.php" type="Allegiance.CommunitySecuritySystem.Server.IPConvergeHandler, Allegiance.CommunitySecuritySystem.Server"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.AdministrationBehavior" name="Allegiance.CommunitySecuritySystem.Server.Administration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.IAdministration"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.ClientServiceBehavior" name="Allegiance.CommunitySecuritySystem.Server.ClientService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.IClientService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.TagBehavior" name="Allegiance.CommunitySecuritySystem.Server.Tag">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="tagBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.ITag"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.StatsBehavior" name="Allegiance.CommunitySecuritySystem.Server.Stats">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBinding" contract="Allegiance.CommunitySecuritySystem.Server.Interfaces.IStats"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Allegiance.CommunitySecuritySystem.Server.GameDataBehavior" name="Allegiance.CommunitySecuritySystem.Server.GameData">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="Allegiance.CommunitySecuritySystem.Server.GameData"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Allegiance.CommunitySecuritySystem.Server.AdministrationBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Server.ClientServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Server.TagBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Server.StatsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Server.GameDataBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="wsBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="tagBinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
        <binding name="wsNoSSLBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>
      <setting name="UseIPConverge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AsgsServiceURL" serializeAs="String">
        <value>http://asgs.alleg.net/ASGS/Services.asmx</value>
      </setting>
      <setting name="UseAsgsForLegacyCallsignCheck" serializeAs="String">
        <value>True</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>
    <Allegiance.CommunitySecuritySystem.Server.Properties.Settings>
      <setting name="TagLastGameDataXmlFileLogLocation" serializeAs="String">
        <value>C:\CSS\CssServer\LogFiles\GameData</value>
      </setting>
      <setting name="TagExceptionLogFileName" serializeAs="String">
        <value>C:\CSS\CssServer\LogFiles\TagException.log</value>
      </setting>
      <setting name="IPConvergeAdminEmail" serializeAs="String">
        <value>nick@chi-town.com</value>
      </setting>
      <setting name="IPConvergeAdminPasswordMD5" serializeAs="String">
        <value>[SET TO PROPER MD5 HASHED PASSWORD]</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.Server.Properties.Settings>
    <Allegiance.CommunitySecuritySystem.Common.Settings>
      <setting name="UseSSLMailTransport" serializeAs="String">
        <value>True</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.Common.Settings>
  </applicationSettings>
</configuration>