<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString"
        connectionString="Server=localhost;Database=CSS_Test;Trusted_Connection=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="appSettings.config">
    <add key="TestRoot" value="C:\Source\Allegiance\CSS\Tests\Allegiance.CommunitySecuritySystem.ServerTest\"/>
    <add key="OutputRoot" value="C:\Source\Allegiance\CSS\Client\Allegiance.CommunitySecuritySystem.Blackbox\bin\Debug"/>
    <add key="SourceRoot" value="C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Resources\"/>
    <add key="autoupdateBaseAddress" value="http://localhost/AutoUpdate/"/>

		<add key="gameTestDataDirectory" value="..\..\..\Tests\Allegiance.CommunitySecuritySystem.ServerTest\TestData"/>
		<add key="gameTestDataFileFilter" value="*game *.xml"/>
		
		<!-- 
			When this is set to true, then a fixed hash is used instead of one generted from the launcher. 
			This lets the debugger run attached to the launcher. 
			To work properly, the database can only contain debug versions of blackbox. 
			remove all prior black boxes from the database, and then rerun taskhandler -generateblackbox 
			with the debug turned on in the TaskHandler config file to generate debug blackboxes.
			-->
		<add key="UseDebugBlackbox" value="true"/>

	</appSettings>
  <system.serviceModel>
 <bindings>
      <basicHttpBinding>

        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="https://localhost/CSSServer/Stats.svc" binding="basicHttpBinding"
        bindingConfiguration="basicHttp" contract="CSSServer.Stats.IStats"
        name="BasicHttpBinding_IStats" />
     
    </client>
   
  </system.serviceModel>
</configuration>