<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Allegiance.CommunitySecuritySystem.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Allegiance.CommunitySecuritySystem.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSConnectionString" connectionString="Data Source=localhost;Initial Catalog=CSS;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" providerName="System.Data.SqlClient"/>
    <add name="Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings.CSSStatsConnectionString" connectionString="Data Source=localhost;Initial Catalog=CSSStats;Persist Security Info=True;User ID=css_server;Password=ga!Gmqpak8g" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>
      <setting name="UseIPConverge" serializeAs="String">
        <value>False</value>
      </setting>
			<setting name="AsgsServiceURL" serializeAs="String">
				<value>http://asgs.alleg.net/ASGS/Services.asmx</value>
			</setting>
			<setting name="UseAsgsForLegacyCallsignCheck" serializeAs="String">
				<value>False</value>
			</setting>
    </Allegiance.CommunitySecuritySystem.DataAccess.Properties.Settings>
    <Allegiance.CommunitySecuritySystem.Common.Settings>
      <setting name="UseSSLMailTransport" serializeAs="String">
        <value>True</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.Common.Settings>
    <Allegiance.CommunitySecuritySystem.Management.Properties.Settings>
      <setting name="AutoUpdateRootDirectory" serializeAs="String">
        <value>c:\AutoUpdate</value>
      </setting>
      <setting name="AdminEmails" serializeAs="String">
        <value>nick@chi-town.com</value>
      </setting>
      <setting name="KnownHashLocation" serializeAs="String">
        <value>C:\Source\Allegiance\CSS\Tasks\Allegiance.CommunitySecuritySystem.BlackboxGenerator\Resources\KnownHash.txt</value>
      </setting>
      <setting name="UseDebugBlackBox" serializeAs="String">
        <value>True</value>
      </setting>
    </Allegiance.CommunitySecuritySystem.Management.Properties.Settings>
  </applicationSettings>

  <!-- 
  ====================================================
  Directory Security
  ====================================================
  -->

	<location path="ForgotPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ResetPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Content/Motd/MotdTemplate.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaImageGenerator.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Stats">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
    This path is used by the file manager to work with package file. These files should not 
    be executable from the TempFiles directory as this would allow a user to upload arbitrary code to the server and run it.
  -->
  <location path="TempFiles">
    <system.web>
      <httpHandlers>
        <remove path="*.aspx" verb="*"/>
        <remove path="*.asmx" verb="*"/>
        <remove path="*.ashx" verb="*"/>
        <remove path="*.asp" verb="*"/>
        <remove path="*.asax" verb="*"/>
        <remove path="*.ascx" verb="*"/>
        <remove path="*.axd" verb="*"/>
        <remove path="*.browser" verb="*"/>
        <remove path="*.config" verb="*"/>
        <remove path="*.cd" verb="*"/>
        <remove path="*.compiled" verb="*"/>
        <remove path="*.idc" verb="*"/>
        <remove path="*.java" verb="*"/>
        <remove path="*.jsl" verb="*"/>
        <remove path="*.licx" verb="*"/>
        <remove path="*.master" verb="*"/>
        <remove path="*.msgx" verb="*"/>
        <remove path="*.html" verb="*"/>
        <remove path="*.htm" verb="*"/>
        <remove path="*.shtm" verb="*"/>
        <remove path="*.shtml" verb="*"/>
        <remove path="*.svc" verb="*"/>
        <remove path="*.vb" verb="*"/>
        <remove path="*.cs" verb="*"/>
        <add path="*.aspx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.asmx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.ashx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.asp" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.asax" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.ascx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.axd" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.browser" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.config" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.cd" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.compiled" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.idc" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.java" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.jsl" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.licx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.master" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.msgx" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.html" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.htm" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.shtm" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.shtml" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.svc" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.vb" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add path="*.cs" verb="*" validate="true" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <remove name="*"/>
        <add name="aspx" path="*.aspx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="asmx" path="*.asmx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="ashx" path="*.ashx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="asp" path="*.asp" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="asax" path="*.asax" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="ascx" path="*.ascx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="axd" path="*.axd" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="browser" path="*.browser" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="config" path="*.config" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="cd" path="*.cd" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="compiled" path="*.compiled" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="idc" path="*.idc" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="java" path="*.java" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="jsl" path="*.jsl" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="licx" path="*.licx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="master" path="*.master" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="msgx" path="*.msgx" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="html" path="*.html" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="htm" path="*.htm" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="shtm" path="*.shtm" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="shtml" path="*.shtml" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="svc" path="*.svc" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="vb" path="*.vb" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
        <add name="cs" path="*.cs" verb="*" preCondition="integratedMode" type="Allegiance.CommunitySecuritySystem.Management.HttpHandlers.BlockExecution, Allegiance.CommunitySecuritySystem.Management"/>
      </handlers>
    </system.webServer>
  </location>
  <!-- 
    This account will work fine for testing. When deploying to an active environment, 
    we'll have to use a real mail server. Don't forget to set the UseSSLMailTransport (below) 
    to the appropriate setting (most of the time it will be false). When using gmail as the service 
    provider then the UseSSLMailTransport should be set to true.
  -->
  <system.net>
    <mailSettings>
      <smtp from="allegiance.css.server@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="allegiance.css.server@gmail.com" password="XXXXXXXX"/>
      </smtp>
    </mailSettings>
  </system.net>
	
	
	
  <system.web>

		<httpRuntime maxRequestLength="1024000" />

		<authorization>
      <deny users="?"/>
    </authorization>
    <roleManager defaultProvider="CssRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CssRoleProvider" type="Allegiance.CommunitySecuritySystem.DataAccess.MembershipProviders.CssRoleProvider,Allegiance.CommunitySecuritySystem.DataAccess"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CssMembershipProvider">
      <providers>
        <clear/>
        <add name="CssMembershipProvider" type="Allegiance.CommunitySecuritySystem.DataAccess.MembershipProviders.CssMembershipProvider,Allegiance.CommunitySecuritySystem.DataAccess"/>
      </providers>
    </membership>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/Login.aspx"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx"/>
    <pages theme="Default">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="IZWebFileManagerThumbnailHandler.ashx" verb="GET" type="IZ.WebFileManager.ThumbnailHandler, IZ.WebFileManager"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <siteMap defaultProvider="SmartSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="SmartSiteMapProvider" type="Allegiance.CommunitySecuritySystem.Management.SmartSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>
      </providers>
    </siteMap>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="IZWebFileManagerThumbnailHandler" path="IZWebFileManagerThumbnailHandler.ashx" preCondition="integratedMode" verb="GET" type="IZ.WebFileManager.ThumbnailHandler, IZ.WebFileManager"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.EnforcerAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.UserAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.AutoUpdateAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.SquadsAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.PollsAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Enforcer">
				<endpoint address="" behaviorConfiguration="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.EnforcerAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Enforcer"/>
			</service>
			<service name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.User">
				<endpoint address="" behaviorConfiguration="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.UserAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.User"/>
			</service>
			<service name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.AutoUpdate">
				<endpoint address="" behaviorConfiguration="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.AutoUpdateAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.AutoUpdate"/>
			</service>
			<service name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Squads">
				<endpoint address="" behaviorConfiguration="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.SquadsAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Squads"/>
			</service>
			<service name="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Polls">
				<endpoint address="" behaviorConfiguration="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.PollsAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Allegiance.CommunitySecuritySystem.Management.AjaxProviders.Polls"/>
			</service>
		</services>

		<bindings>
			<webHttpBinding>
				<binding name="webBinding">
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		
  </system.serviceModel>
  <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>